body {
  background-color: black;
  color: white;
  font-size: 16px;

  font-family: "Share Tech Mono", monospace;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: springgreen;
  letter-spacing: 1rem;
}

.main-wrapper {
  padding-left: 6rem;
  padding-right: 6rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.header__logo {
  width: 6rem;
  margin-right: 2rem;
  filter: drop-shadow(0 0 1rem springgreen);
}

.header__title {
  font-size: 2rem;
  font-weight: bold;
  color: springgreen;
}

.intro-section {
  margin-bottom: 4rem;
}

.intro-section__photo {
  float: left;
  width: 16rem;
  margin-right: 4rem;
}

.intro-section__description {
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
}

.projects-section {
  margin-bottom: 2rem;
}

.projects-section__title {
  text-align: center;
}

.projects-section__coming-soon {
  text-align: center;
}

.footer {
  text-align: center;
}